In [27]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv("food.csv", encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [28]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [30]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [31]:
import pandas as pd

# Identify missing values in the year 2014
missing_2014 = df['Y2014'].isnull().sum()

# number of missing values
total_missing = missing_2014

# percentage of missing values
total_rows = len(df)
percentage_missing = (total_missing / total_rows) * 100

# results to 3 decimal
print("Total number of missing data in 2014:", total_missing)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [4]:
import pandas as pd

# Filter rows where the 'Item' is 'Wine' and sum the values for 2015 and 2018

wine_2015_sum = df.loc[df['Item'] == 'Wine', 'Y2015'].sum()
wine_2018_sum = df.loc[df['Item'] == 'Wine', 'Y2018'].sum()

# Print the results

print("Total sum of Wine produced in 2015:", wine_2015_sum)
print("Total sum of Wine produced in 2018:", wine_2018_sum)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

In [32]:
import pandas as pd
# Group by 'Element' and sum 'Stock Variation' for each year
grouped = df.groupby('Element').sum().reset_index()

# Get the sum of 'Stock Variation' for each year across all elements
stock_variation_sum_per_year = grouped.loc[grouped['Element'] == 'Stock Variation']

# Get the year with the highest sum of Stock Variation
highest_stock_variation_year = stock_variation_sum_per_year[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum(axis=1).idxmax()

# Print the result
print("Year with the highest sum of Stock Variation:", highest_stock_variation_year)

Year with the highest sum of Stock Variation: 15

C:\Users\amogh\AppData\Local\Temp\ipykernel_11444\788163180.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('Element').sum().reset_index()

In [33]:
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assign element 8 to variable x
x = y[1][1]

# Print the result
print(x)

8

In [10]:
import pandas as pd

# Filter rows where the 'Area' is 'Madagascar'
madagascar_protein_2015 = df.loc[(df['Area'] == 'Madagascar') & (df['Item'] == 'Protein'), 'Y2015'].sum()

# Print the result
print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 0.0

In [12]:
import pandas as pd

# Filter rows where the 'Area' is 'Madagascar' and the 'Element' is 'Protein supply quantity (g/capita/day)'
madagascar_protein_2015 = df.loc[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)'), 'Y2015'].sum()

# Print the result
print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

In [34]:
import pandas as pd

# Select columns 'Y2017' and 'Area'
selected_df = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum of 'Y2017' for each area
grouped = selected_df.groupby('Area').sum()

# Sort the sums in ascending order and get the 7th lowest sum
seventh_lowest_sum = grouped.sort_values(by='Y2017').iloc[6]

# Print the area with the 7th lowest sum
print("Area with the 7th lowest sum in 2017:", seventh_lowest_sum.name)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [17]:
import pandas as pd
from scipy.stats import chi2_contingency

# Filter out non-numeric columns
numeric_columns = df.select_dtypes(include=['float64', 'int64'])

# Drop non-numeric columns that are not years
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
numeric_columns = numeric_columns[years]

# Initialize dictionary to store chi-square statistics
chi2_stats = {}

# Iterate over years and calculate chi-square statistics
for year in years:
    contingency_table = pd.crosstab(df['Element'], numeric_columns[year])
    chi2, _, _, _ = chi2_contingency(contingency_table)
    chi2_stats[year] = chi2

# Find the year with the minimum chi-square statistic
min_chi2_year = min(chi2_stats, key=chi2_stats.get)

# Print the result
print("Year with the least correlation with 'Element' (according to chi-square test):", min_chi2_year)

Year with the least correlation with 'Element' (according to chi-square test): Y2016

In [18]:
import pandas as pd

# Filter rows where the year is 2017 and the element is 'Processing'
processing_2017 = df[(df['Element'] == 'Processing') & (df['Y2017'].notnull())]

# Group by 'Element' and sum the values in the 'Y2017' column
processing_2017_sum = processing_2017.groupby('Element')['Y2017'].sum()

# Get the total sum of processing in 2017
total_processing_2017 = processing_2017_sum.get('Processing', 0)

# Print the result
print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [20]:
# Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

import numpy as np

# Define the numpy array
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

# Select the elements in bold and italics using slicing
selected_elements = array[:2, 1:]

# Print the selected elements
print(selected_elements)

[[89 63]
 [92 48]]

In [35]:
import pandas as pd

# Count the number of unique countries in the 'Area' column
total_unique_countries = df['Area'].nunique()

# Print the result
print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [22]:
import pandas as pd

# Filter the DataFrame to include only the columns for the year 2017
df_2017 = df[['Y2017']]

# Calculate the mean and standard deviation for the year 2017
mean_2017 = df_2017.mean().values[0]
std_dev_2017 = df_2017.std().values[0]

# Print the mean and standard deviation for the year 2017 to 2 decimal places
print("Mean for the year 2017:", "{:.2f}".format(mean_2017))
print("Standard deviation for the year 2017:", "{:.2f}".format(std_dev_2017))

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [36]:
# Check the number of rows and columns in the DataFrame df
num_rows, num_columns = df.shape

# Print the number of rows and columns
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 60943
Number of columns: 12

In [37]:
import pandas as pd
# Select columns 'Y2017' and 'Area'
df_subset = df[['Y2017', 'Area']]

# Group by 'Area' and sum the values in the 'Y2017' column
grouped = df_subset.groupby('Area').sum()

# Find the Area with the highest sum in 2017
area_highest_sum_2017 = grouped['Y2017'].idxmax()

# Print the result
print("Area with the highest sum in 2017:", area_highest_sum_2017)

Area with the highest sum in 2017: Nigeria